{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="info">
    <div class="flt-right">
        <span class="closebtn" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
    </div>
    <h1>ATTENTION!</h1>
    This site is still under construction. It may not work fully.
    </div><br><br>
<a href="{% url "home" %}">Home</a>
<a href="{% url "messaging:view_dms" %}">Direct messages</a>
<a href="{% url "messaging:view_chats" %}">Group chats</a>&nbsp;
{% if user.is_authenticated %}
    <a href="{% url "profile" %}">Profile</a>
    <a href="{% url "logout" %}">Logout</a>
{% else %}
    <a href="{% url "login" %}">Login</a>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>