{% extends "base.html" %}
{% block content %}
    {% include "force_refresh_snippet.html" %}
    <h1>Messages</h1><br>
    <h3>Groups:</h3>
    <nav class="line"></nav>
    {% for chat in chats %}<br>
        <div class="message">
            <div class="large-txt">{{ chat.name }}</div><br>
            {% if user not in chat.read_list.all %}
                Unread messages are in the {{ chat.name }} chat!!!<br><br>
            {% endif %}
            {% if user in chat.mentioned_users.all %}
                You have unread mentions in the {{ chat.name }} chat!!!<br><br>
            {% endif %}
          <div class="flt-right"><br>
            <a href="{% url "messaging:view_chat" chat_pk=chat.pk %}">Go to chat</a>
          </div>
          <br><br><br>
        </div>
    {% endfor %}
    <br>
    <div class="message"><br>
    <a href="{% url "messaging:new_chat" %}">New Chat</a><br><br>
    </div>
{% endblock %}