{% extends "base.html" %}
{% block content %}
    {% include "force_refresh_snippet.html" %}
    <h1>Messages</h1><br>
    <h3>Groups:</h3>
    <br><br><br>
    {% for chat in chats %}
        {% if user not in chat.read_list.all %}
            Unread messages are in the {{ chat.name }} chat!!!<br><br>
        {% endif %}
        <a href="{% url "messaging:view_chat" chat_pk=chat.pk %}">{{ chat.name }}</a><br><br><nav class="line"></nav><br>
    {% endfor %}
    <br>
    Make a new chat:
    <a href="{% url "messaging:new_chat" %}">New Chat</a>
{% endblock %}