{% extends "base.html" %}
{% block content %}
    <h1>Home</h1>
    <h4>Hello, {{ user }}!</h4>
    {% if num_unread_chats != 0 %}
        <h4>You have unread chats!!</h4>
        You have {{ num_unread_chats }} chats with unread messages. <br>
        {% if num_unread_mentions != 0 %}
            You have {{ num_unread_mentions }} chats with unread mentions.
        {% endif %}
    {% endif %}
    {% if num_unread_dms != 0 %}
        <h4>You have unread DMs!!</h4>
        You have {{ num_unread_dms }} DMs with unread messages. <br>
    {% endif %}


    {% if num_unread_chats == 0 %}
        <h4>You read all your mail.</h4>
    {% endif %}

    <!--
    <div class="card">
    <div class="card-txt">
        <div class="closebtn" onclick="this.parentElement.style.display='none';">&times;</div><br>
        <div class="card-header">
            DevNote!
        </div>
        <br>
        DevNote contents<br>
        Version: beta-0.0.3
        <nav class="line"></nav>
    </div>
    </div>
    -->
{% endblock %}