{% extends "base.html" %}
{% block content %}
    <h1>Home</h1>
    <h4>Hello, {{ user }}!</h4>
    You have {{ num_unread_chats }} unread chats.
    <!--
    <div class="card">
    <div class="card-txt">
        <div class="closebtn" onclick="this.parentElement.style.display='none';">&times;</div><br>
        <div class="card-header">
            DevNote!
        </div>
        <br>
        DevNote contents<br>
        Version: beta-0.0.3
        <nav class="line"></nav>
    </div>
    </div>
    -->
{% endblock %}