{% extends "base.html" %}
{% block title %}{{ other_user.username }}{% endblock %}
{% block content %}
    <h1>DM with {{ other_user.username }}</h1>
    {% for message in messages|dictsortreversed:"time_sent" %}
        <div class="message">
          From: {{ message.by }}<br>
          At: {{ message.time_sent }}
          <nav class="line"></nav>
          {{ message.content|linebreaks }}
        </div>
    {% endfor %}
    <div class="sticky">
        <form method="POST" style="display:inline-block">
            {% csrf_token %}
            <textarea name="message" maxlength="5000" rows="5" cols="40"></textarea><br>
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}