{% extends "base.html" %}
{% load message_tags %}

{% block title %}{{ other_user.username }}{% endblock %}
{% block content %}
    <h1>DM with {{ other_user.username }}</h1>
    {% for message in messages|dictsortreversed:"time_sent" %}
        <div class="message">
            {% if message.by == user %}
                <a class="del" href="{% url "messaging:delete_dm" dm_pk=message.pk %}">Delete</a><br>
            {% endif %}
            <a class="vw_profile" href="{% url "messaging:view_user" user_pk=message.by.pk %}"><img class="message-img" src="{{ message.by.profile_pic.url }}" alt="profile_picture"></a><br>{{ message.by }}
            <div class="flt-right">{{ message.time_sent }}</div>


            <nav class="line"></nav>
            {% if message.by != user %}
                {{ message.content|decrypt_with:private_key|linebreaks }}
            {% else %}
                <i>(encrypted)</i>
            {% endif %}
        </div>
    {% endfor %}
    <div class="sticky">
        <form method="POST" style="display:inline-block">
            {% csrf_token %}
            <textarea name="message" maxlength="5000" rows="5" cols="40" placeholder="Send a message..."></textarea><br>
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}